@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nadpis {
    text-align: center;
  }
  .text-balance {
    text-wrap: balance;
  }
  .hero-background {
    background-image: url("https://res.cloudinary.com/dsqrbvyhy/image/upload/v1712328175/biozahaji/background_pp9y9b.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .odkazText {
    @apply underline underline-offset-2 px-2 py-1 bg-bio-50 bg-opacity-30 rounded-md;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-800;
  }
  p {
    @apply text-gray-500 text-lg;
  }
  button.slick-next {
    right: 10px !important;
  }
}
